.task-container {
  width: 500px;
  min-height: 70px;
  background-color: #004233;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 4px solid #fff944;
  cursor: pointer;
}

.task-container:nth-child(3n + 1){
  background-color: #004233;
}

.task-container:nth-child(3n + 2){
  background-color: #004f3c;
}

.task-container:nth-child(3n + 3){
  background-color: #006b52;
}
.task-container.completed {
  background-color: #4d0054;
  text-decoration: line-through;
  color: #fff944;

}

.task-text {
  width: 100%;
  height: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  color: #fff944;
  
}