* {
  --color-title: #fff;
  --background-title: #bf4732;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  width: 400px;
  height: 100px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--color-title);
  border-radius: 25px;
  box-shadow: 2px 3px 5px var(--color-title);
  background-color: var(--background-title);
}

.title h1 {
  color: var(--color-title);
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 3px 5px var(--color-title);
}